
* {
    box-sizing: border-box;
}

*{
    font-family: 'DM Sans', sans-serif;
}

.login-header{
    height: 38px;
    top: 57px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 165.02%;
    color: #000000;
}

.email{
    background: rgba(217, 217, 217, 0.15);
    border-radius: 20px;
    border: 1px solid rgba(71, 84, 103, 0.15);
    height: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 165.02%
}

.login-input {
    border: none;
    background: none;
}

.login-input:focus {
    background: none !important;
    border: none;
    box-shadow: none;
}

.mail-icon {
    display: flex;
    align-items: center;
    padding: 0 21px;
}

.password{
    background: rgba(217, 217, 217, 0.15);
    border-radius: 20px;
    border: 1px solid rgba(71, 84, 103, 0.15);
    height: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 165.02%
}

.login-password:focus {
    border: none;
    background: none;
    box-shadow: none;
}

.password-icon{
    display: flex;
    align-items: center;
    padding: 0 21px;
   
}

.valid-mail{
    display: flex;
    align-items: center;
    padding: 0 21px;
}

.password-reveal{
    display: flex;
    align-items: center;
    padding: 0 21px;
    cursor: pointer;
}

.forgot-password-link{
    text-align: right;
   font-size: 16px;
   font-weight: 400px;
   font-style: normal;
   line-height: 165.02%;
   color: #1849A9;
}

.login-button{
    padding: 14px 0;
    height: 60px;
    top: 321px;
    left:24px;
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 165.02%;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;

}

.sign-up-accounts{
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 165.02%;
    color: #475467;
    
}

a{
    font-style: normal;
    font-size: 16px;
    font-weight : 400;
    line-height: 26.4px;
    text-decoration: none;
}

.or{
   text-align: center;
   padding: 40px;
   font-style: normal;
   font-weight: 500;
   line-height: 165.02%;
   color: rgba(71, 84, 103, 0.5);    
}

.sign-up{
    text-align: center;
    border: 1px solid rgba(71, 84, 103, 0.15);;
    border-radius: 20px;
    padding: 17px 0;

    
}

.sign-up a{
    color: black;
    cursor: pointer;
    font-style: normal;
    font-size: 16px;
    line-height: 165.02%
}

.apple-sign-up{
    text-align: center;
    border: 1px solid rgba(71, 84, 103, 0.15);;
    border-radius: 20px;
    padding: 17px 0;

}

.apple-sign-up a{
    color: black;
    cursor: pointer;
    font-style: normal;
    font-size: 16px;
    line-height: 165.02%

}



    
  
}


